<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206937199187-khtdirjjvh3k5hash3n1l0qambrd991r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206937199187-khtdirjjvh3k5hash3n1l0qambrd991r</string>
	<key>API_KEY</key>
	<string>AIzaSyBxTVPKDb3kaGBDCNRLGV3y6f4-4apVbaE</string>
	<key>GCM_SENDER_ID</key>
	<string>206937199187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xunruan.practice.firebasecrashcourse</string>
	<key>PROJECT_ID</key>
	<string>fir-crashcourse-9c9fb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashcourse-9c9fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206937199187:ios:8a87ec523db2baddb66ca6</string>
</dict>
</plist>